# App Config
APP_ENV=development

# Groq API Key
GROQ_API_KEY=gsk_your_actual_groq_api_key_here

# Groq Models
EMOTION_MODEL=llama-3.1-8b-instant
COPILOT_MODEL=llama-3.3-70b-versatile
WHISPER_MODEL=whisper-large-v3

# MongoDB Atlas URI
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/emotion_db?retryWrites=true&w=majority
MONGO_DB_NAME=emotion_ai_copilot

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379